body {
    background-color: darkgreen;
}

h1 {
    color:white;
}

section p{
    color:white;
    font-size: 25px;
}

section h2, section h3{
    color:white;
}

section h2, section p, section h3, img{
    padding-top:10px;
    padding-bottom: 10px;
}

.Paragraph {

    padding-left: 10px;
}

section{
    background-color: green;
    padding-bottom: 10px;

}

section .Games{
    text-decoration: none;
    color:aliceblue;
    text-align: center;
    background-color: palevioletred;
    border: 15px solid palevioletred;
    border-radius: 15px;
    
    margin-top:15px;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
}

video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;

    
}

img {
    margin:auto;
    display: block;
    
    
}



#Itch{
    padding-top: 25px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}


#TopNav{
    display:flex;
    flex-flow: row wrap;
}

nav a{
    display: inline-block;
    background-color: green;
    color:aliceblue;
    text-decoration: none;
    padding: 5px;
    flex: 1;
    text-align: center;
    margin:5px;
}

section section {

    background-color: rgb(2, 80, 80);
    
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    
}

section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section section h3{

    font-size: 200%;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}